body, ul {
    margin: 0px;
    padding: 0px;
}

a {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 0, 0, .5);
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.cabeca {
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(173, 173, 173);
}

.menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

a {
    display: block;
    padding: .5rem;
    border-radius: 10px;
}

#btn-menu {
    display: none;    
}

@media screen and (max-width: 600px) {
    #btn-menu {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .menu {
        display: block;   
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgb(173, 173, 173);
        height: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active .menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: auto;
    }

    .menu a {
        padding: 1rem 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.103);
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 25px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: 6px;
    }

}